<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="row">
            <div class="cold-md-12">
                <div class="card mb-3">

                    <h2>Your post was deleted.  Very nice!</h2>
                    




                    <a th:href="@{/}">
                        <button class="btn btn-success">Back</button>
                    </a>
                    <a th:href="@{/blogpost/new}">
                        <button class="btn btn-success">New Post</button>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    </div>

    <div th:replace="fragments/styling :: javaScripts"></div>
</body>

</html>