<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <p>Please use the form below to submit a Blog Post:</p>
        <div class="row d-flex justify-content-around">
            <div th:each="blog:${posts}">
                <div class="card col-md-6 p-0 mb-3" style="min-width: 18rem">

                    <h4 class="card-header" th:text="${blog.title}" />
                    </h4>

                </div>

                <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
                    class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete Post</button>
                    </div>
                </form>
                <!-- Show -->
                <!-- Update -->
            </div>
        </div>
    </div>
    </div>

    <a th:href="@{/blogpost/new}">
        <button class="btn btn-primary">Create a new blog post</button>
    </a>
    </div>

    <div th:replace="fragments/styling :: javaScripts"></div>
</body>

</html>